<%- include('../partials/top'); -%>
    <form class="space-y-8 divide-y divide-gray-200" method="POST" action="/user/<%= user._id %>">
        <div class="space-y-8 divide-y divide-gray-200">
            <div>
                <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Edit User</h3>
                </div>
        
                <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    <div class="sm:col-span-4">
                        <label for="username" class="block text-sm font-medium text-gray-700"> Username </label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                            <input type="text" name="username" id="username" required minlength="1" maxlength="256" autocomplete="username" value="<%= user.username %>" class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded sm:text-sm border-gray-300">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="pt-8">
                <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Personal Information</h3>
                </div>
                <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium text-gray-700"> First name </label>
                        <div class="mt-1">
                        <input type="text" name="first-name" id="first-name" required minlength="1" maxlength="256" autocomplete="given-name" value="<%= user['first-name'] %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
            
                    <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium text-gray-700"> Last name </label>
                        <div class="mt-1">
                        <input type="text" name="last-name" id="last-name" minlength="1" maxlength="256" autocomplete="family-name" value="<%= user['last-name'] %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
            
                    <div class="sm:col-span-4">
                        <label for="email" class="block text-sm font-medium text-gray-700"> Email address </label>
                        <div class="mt-1">
                        <input id="email" name="email" type="email" required minlength="1" maxlength="256" autocomplete="email" value="<%= user.email %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
            
                    <div class="sm:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-700"> Country </label>
                        <div class="mt-1">
                            <select id="country" name="country" autocomplete="country-name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                                <% countries.forEach(country => { %>
                                <option <%= user.country === country ? 'selected' : '' %>><%= country %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
            
                    <div class="sm:col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700"> Street address </label>
                        <div class="mt-1">
                            <input type="text" name="street-address" id="street-address" autocomplete="street-address" value="<%= user['street-address'] %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
            
                    <div class="sm:col-span-2">
                        <label for="city" class="block text-sm font-medium text-gray-700"> City </label>
                        <div class="mt-1">
                            <input type="text" name="city" id="city" autocomplete="address-level2" value="<%= user['city'] %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
            
                    <div class="sm:col-span-2">
                        <label for="region" class="block text-sm font-medium text-gray-700"> State / Province </label>
                        <div class="mt-1">
                            <input type="text" name="region" id="region" autocomplete="address-level1" value="<%= user['region'] %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
            
                    <div class="sm:col-span-2">
                        <label for="postal-code" class="block text-sm font-medium text-gray-700"> ZIP / Postal code </label>
                        <div class="mt-1">
                            <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" value="<%= user['postal-code'] %>" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="pt-8">
                <div class="mt-6">
                    <fieldset>
                        <legend class="contents text-base font-medium text-gray-900">Roles</legend>
                        <div class="mt-4 space-y-4">
                            <div class="relative flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="roles-user" name="roles[]" value="user" type="checkbox" <%= user.roles.includes('user') ? 'checked' : '' %> class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="roles-user" class="font-medium text-gray-700">User</label>
                                    <p class="text-gray-500">A general user with limited permissions.</p>
                                </div>
                            </div>
                            <div class="relative flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="roles-admin" name="roles[]" value="admin" type="checkbox" <%= user.roles.includes('admin') ? 'checked' : '' %> class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="roles-admin" class="font-medium text-gray-700">Admin</label>
                                    <p class="text-gray-500">A super-user with full permissions.</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="mt-6">
                        <legend class="contents text-base font-medium text-gray-900">Status</legend>
                        <p class="text-sm text-gray-500">Is this account active?</p>
                        <div class="mt-4 space-y-4">
                            <div class="flex items-center">
                                <input id="status-active" name="status" value="active" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" <%= user.status === 'active' ? 'checked' : '' %>>
                                <label for="status-active" class="ml-3 block text-sm font-medium text-gray-700"> Active </label>
                            </div>
                            <div class="flex items-center">
                                <input id="status-inactive" name="status" value="inactive" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" <%= user.status === 'inactive' ? 'checked' : '' %>>
                                <label for="status-inactive" class="ml-3 block text-sm font-medium text-gray-700"> Inactive </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    
        <div class="pt-5">
            <div class="flex justify-end">
                <a href="/users" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</a>
                <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
            </div>
        </div>
    </form>
<%- include('../partials/bottom'); -%>